// sb ---- sidebar

.sb-container{
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 20;
  height: calc(100% - 70px);
  background-color: #212121;

  ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    hr{
      margin: 1.5rem auto 1.5rem 0;
      width: 95%;
      font-size: 0.3rem;
      size: 1px;
    }
      li{
        list-style: none;
        width: 100%;
        display: flex;
        align-items: center;
        

        &:hover{
          background-color: #535353;
        } 
        p{
          color: white;
          padding-bottom: 0.5rem;
        }
      }
  }
}
.primary-sb{
  width: 5.5rem;

  ul {
    padding: 0;
  }

  li{
    flex-direction: column;
    padding-top: 1rem;
    p{
     
      font-size: 0.8rem;
      margin-top: 0.6rem;
    }
   
  }
}
.secondary-sb{
  width: 15rem;
  &:hover{
    overflow: scroll;
  } 

  ul {
    padding: 0;
  }

  li{
    height: 3rem;
    p{
      font-size: 1rem;
    }
  }
}
